.container {
    display: grid;
    grid-template-columns: 1fr 940px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header"
        ". main ."
        "footer footer footer";
}