.header {
    grid-area: header;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: center;
}
.headerContent {
    flex: auto;
    display: flex;
    justify-content: center;
    height: 104px;
    max-width: 1000px;
}
.logoContainer {
    display: flex;
    align-items: center;
    margin-right: 4rem;
}
.menuContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo {
    height: 2.7rem;
}
.sup {
    font-size: 0.6rem;
    vertical-align: super;
}
.title {
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--text);
}
.loginContainer {
    align-self: flex-start;
    display: flex;
    flex: 1;
    justify-content: end;
}
.button {
    border: 0;
    background-color: transparent;
    font-size: 0.8rem;
}