.card {
    display: grid;
    grid-template-columns: 37.5fr 1fr 20.25fr;
    grid-template-rows: 337px 95px;
    grid-template-areas: 
        "main . right"
        "slideshow . right";
}
.displayBox{
    grid-area: main;
}
.right {
    grid-area: right;
    font-size: 0.8rem;
}
.screenshotBox{
    grid-area: slideshow;
    position: relative;
    overflow-x: scroll;
}
.screenshotCard{
    border: 0;
    margin: 0;
    padding: 2px;
}
.screenshotList {
    display: flex;
    position: absolute;
    width: 720px;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}