.card {
    display: grid;
    grid-template-columns: 37.5fr 1fr 20.25fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "main . right"
        "slideshow . right"
}
.right {
    grid-area: right;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}